.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .headerContainer {
    width: auto;
    margin-left: 50px;
    text-align: center;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 500;
    color: black;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
  }
  
  .headerContainer input {
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none; 
    transition: border-color 0.3s ease-in-out; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .headerContainer input:focus {
    border-color: #d51578; 
  }
  
  @media only screen and (max-width: 600px) {
    .home {
      justify-content: center;
      align-items: center;
    }

    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: black;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: black;
    }
    .headerContainer input {
      font-size: 16px;
      padding: 12px; 
    }
  }

  .timer {
    margin-top: 20px;
    font-size: 24px;
    color: black;
  }